/* .container {
  height: 100%;
  width: 100%;
  background-color: rgb(246, 241, 235);
  color: rgb(100, 27, 39);
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  padding-top: 10px;
  height: 12vh;
  width: 100%;
  text-align: center;
  background-color: rgb(100, 27, 39);
  color: rgb(246, 241, 235);
}

.loading {
  width: 0%;
  height: 2vh;
  margin-top: 4.8vh;
  background-color: rgb(80, 194, 19);
  color: rgb(246, 241, 235);
}

h4 {
  margin-top: 8px;
  font-size: large;
  color: rgba(37, 15, 18, 0.505);
} */
